[Unit]
Description=Example .NET Web API App running
[Service]
WorkingDirectory=/root/webapi
ExecStart=/root/webapi/WebApi
Restart=always
RestartSec=10
# Restart service after 10 seconds if dotnet service crashes
SyslogIdentifier=dotnet-example
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
TimeoutStartSec=0
[Install]
WantedBy=multi-user.target